.menu-container { 
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 5px; 
    flex-grow:1; 
    margin-top: 10px;    
    margin-right: 10px; 
    margin-bottom: 10px; 
    margin-left: 10px; 
    background-color: white;
}

.menu { 
    list-style-type: none; 
    padding: 0;
}

.option { 
    margin-bottom: 5px;
}

.submenu { 
    display: none; 
    margin-top: 5px;
}

.option input[type="checkbox"] { 
    display: none;
}

.option input[type="checkbox"] + label { 
    display: inline-block; 
    border-top: 0.5px solid black; 
    padding-bottom: 10px; 
    padding-top: 10px; 
    width: 100%;
}

.option input[type="checkbox"]:checked + label + .submenu { 
    display: block;
}

.text-area-container { 
    display: flex; 
    flex-direction: column;
}

textarea { 
    resize: none; 
    font-size: 18px; 
    font-family: "Century Gothic", sans-serif; 
    text-align: left; 
    margin: 0; 
    padding: 0; 
    height: 40px; 
    padding-left: 10px;
    margin-top: 5px;
}

#Nom,#ou { 
    font-family: "Century Gothic", sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    margin-top: 10px;
}

#Nom,#Entreprises {
    margin-left: 5px;
}

#ou, #textarea_O{
    margin-left: 25px;
}

.bloc-droite-high, .bloc-gauche{ 
    float: left; 
    margin-top: 10px; 
    background-color:rgb(223 248 255);
}

.bloc-gauche { 
    width: 500px;
}

.bloc-droite-high {
    width:50%;
    height:100px;
}

table {
    border-collapse: collapse;
}

tr {
    text-align: center;
}

td {
    padding: 10px;
}

.btn-rechercher { 
    padding: 10px 20px; 
    background-color: white; 
    color: black;  
    cursor: pointer; 
    font-size: 16px;
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    border-radius: 15px; 
    margin-top: 30px; 
    width: 200px; 
    height: 55px; 
    font-family: "Century Gothic", sans-serif;  
    margin-right: 200px;
    box-shadow: 9px 9px 12px rgba(0, 0, 0, 0.6);
}

.btn-rechercher:hover { 
    background-color: #0056b3;
    color: white;
    transform: scale(1.08);
}

.bloc-droite-container{ 
    display: flex;
    box-flex: row;
    width:100%;
}

.affichage { 
    height: 290px; 
    margin-top: 25px; 
    overflow: auto; 
    display: flex; 
    grid-template-columns: 250px auto;
    border-radius: 15px; 
    background-color: white;
    box-shadow: 5px 5px 10px rgba(215, 216, 219, 0.5);
    border: 2px solid black;
}

.affichage1 {
    border: 2px solid black;
    height: 200px;
    width: 300px;
    margin-top: 40px;
    margin-left: 15px;
    border-radius: 15px;
    background-color: #ABABAB;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.affichage1 img {
    width: 100%;
    height: auto;
}

.conteneur-droite { 
    margin-left: 30px; 
    display: flex; 
    flex-direction: column; 
    height: 250px; 
    margin-top: 30px; 
    margin-right: 25px;
}

.texte_affichage1 { 
    height: 35px; 
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.presentation_affichage1 { 
    margin-top: 15px; 
    display: flex;
    border: 1px solid black; 
    height: 170px; 
    width: 600px; 
    margin-left: 0px;    
    overflow: auto; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.texte-presentation { 
    padding: 10px; 
    text-align: justify;
}

.divclasse{
    margin-left: 500px;

}

.lolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px;
}

.btn-modifier, .btn-supprimer, .btn-invisible {
    background-color: white; 
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-family: "Century Gothic", sans-serif;
    margin: 20px 0;
    box-shadow: 9px 9px 12px rgba(0, 0, 0, 0.6);
}

.btn-modifier:hover, .btn-invisible:hover {
    background-color: #0056b3; 
    color: white;
    transform: scale(1.08);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.6);
}

.btn-supprimer:hover {
    background-color: #e40d0d; 
    color: white;
    transform: scale(1.08);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.6); /* Ombre plus prononcée au survol */
}


.Utilisateur {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.stylabel{
    font-size:20px;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #0056b3;
    color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

#scrollToTop:hover {
    background-color: #0056b3;
    color: white;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: "Century Gothic", sans-serif;
    transition: background-color 0.3s ease;
    font-weight: bold;


}
.pagination-info {
    text-align: center;
    margin-bottom: 20px; /* Ajoute un espace en bas pour séparer visuellement de la pagination */
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    font-weight: bold;


}

.pagination a {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.pagination .active {
    background-color: #007bff;
    color: #fff;
}




@media (max-width: 1025px) {
    .menu-container{
        display:inline-block;
        width:50%;
    }

    .bloc-gauche{
        display: inline-block;
        width:75%;
    }

    .divclasse{
        display:inline-table;
    }

    label{
        font-size: 70%;
    }

    .stylabel{
        font-size: 90%;
    }

    .affichage1{
        display:none;
    }

    .divclasse{
        margin-left: 0;
    }

    .presentation_affichage1 {
        width: 130%;
        height: 1500px;
    }

    strong{
        display:flex;
        flex-direction: column;
    }

    .lolo {
        align-items: left;
        margin-left: 15%;
    }
}