
input[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    margin: 0 10px; 
    width: 600px; 
    margin-left: 50px;
}
.btn_stat {
    background-color: white; 
    color: black;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    width: 400px;
    height: 50px;
    font-family: "Century Gothic", sans-serif;
    margin: 20px 0;
    box-shadow: 9px 9px 12px rgba(0, 0, 0, 0.6);
}

.btn_stat:hover {
    background-color: #0056b3; 
    color: white;
    transform: scale(1.08);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.6);
}
