.horizontal_postul {
    border: none;
    border-top: 1px solid black;
    width: 50%;
}

.bravo{
  color: green;
  font-size: 50;
  text-align: center;
}
.bravo_vous{
  color: green;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}


#LM{
	width: 70%;
	height: 200px;
	text-align: left;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.custom-file-upload label {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload label:hover {
  background-color: #333;
}

textarea {
  width: 300px; 
  height: 200px;
  resize: none; 
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #0056b3;
  color: black;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

#scrollToTop:hover {
  background-color: #0056b3;
  color: white;
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: #0056b3;
  color: black;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

#scrollToTop:hover {
  background-color: #0056b3;
  color: white;
}