body {
	font-family: "Century Gothic", sans-serif;
	padding: 0;
    background-color:rgb(223 248 255);
}

header {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    font-size: 20px;
    text-align: left;
    margin-bottom: 250px;
}

.banière_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    z-index: 0;
}    

fieldset {
	background-color: #f3f3f3; 
    color: black;
    font-weight: bold; 
	text-align: center;
	width: 50%;
    height: 25%;
	display: block;
    margin: 0 auto;
}

main{
	padding: 0% 0.5%;
}

input {
    background-color: #fff;
    color: grey; 
    border-radius: 5px;
    padding: 10px;
	width: 40%; 
    border: none;
    outline: none;
}

input[type="submit"], input[type="button"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    margin: 0 10px; 
    width: 150px; 
}

input[type="submit"]:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #333;
}

.TextRed {
    width: 200px;
    color: red;
    text-align: center; 
    margin: 0 auto;
    font-size: 11px;
}

.logo {
    width: 130px;
    height: auto; 
    border-radius: 15px;
    padding: 0.5% 0.5%;
    margin-left: 10px;
}

.moncompte {
	text-align: right;
    padding-right: 5%;
}

.moncompte a {
    text-decoration: none;
    font-weight: bold;
}

.moncompte a:hover { 
    background-color: rgba(0, 0, 0, 0.7);
}

.moncompte .active-link {
    color: black;
}

.moncompte a {
    color: white;
    display: inline-block;
	padding: 10px 20px;
	background-color: black;
	border-radius: 20px; 
}

.navbar {
    padding: 0.5% 4.5%;
    width: 100%;
    color: black;
    text-align: center;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: black;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
	height: 3px; 
}

.navbar a:hover::before {
    width: 100%;
    left: 0;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar a.active {
    background-color: #a8c6fa;
}

.dropdown {   
    position: relative;  
    display: inline-block; 
    margin-top: 10px;
}

.dropdown-content {    
    font-size: 15px;   
    display: none;   
    position: absolute;   
    background-color: white; 
    min-width: 150px; 
    z-index: 1;
    border: 1px solid black;
    border-radius: 10px; 
    padding: 10px;  
    transition: opacity 0.5s ease-in-out 0.5s, background-color 0.5s ease;
    top: 30px;
}

.moncompte .dropdown-content {
    top :45px;
}

.deconnexion-container {
    text-align: center; /* Aligner le contenu au centre */
    margin-top: 50px; /* Marge en haut pour l'espace vertical */
}

.deconnexion-button, .connexion-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.connexion-button{    background-color: #368ff4;}
.deconnexion-button:hover {
    background-color: #d32f2f;
}
.connexion-button:hover {
    background-color: #2f63d3;
}



.dropdown-content a {    
    color: black; 
    padding: 20px 16px; 
    text-decoration: none;  
    display: block;
    background-color: white; 
    text-align: left;
	margin-bottom: 5px;
}

.dropdown-content a:hover {
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.linkMDP {
	color: blue;
	text-decoration: none;
	font-size: 11px;
}

.linkMDP:hover {
    text-decoration: underline;
}

.connectext {
	font-size: 14px;
}

.horizontal {
    border: none;
    border-top: 1px solid black;
    width: 350px;
}

.leftfooter {    
	background-color: rgba(43, 52, 65, 1);  
}

.rightfooter{    
	background-color: rgba(43, 52, 65, 1);
}

.social-media {    
	display: flex;    
}

.social-media img {    
	margin-right: 10px; 
}

.basfooter {
	background-color: rgba(43, 52, 65, 1);   
}

.leftfooter, .rightfooter, .basfooter   { 
	color: white;    
	padding: 10px 20px;    
	text-align: center;
}

.footer-container {   
	display: inline-flex;
    width: 100%;
}

.leftfooter, .rightfooter {    
	flex: 1;
}

.logoinsta {    
	width: 50px; 
	border-radius: 15px; 
	margin-right: 10px; 
	margin-bottom: 10px;
}

.logoCesi{
	width: 100px;
}

.navbarfooter {   
	width: 100%;    
	color: black;    
	text-align: center;
}

.navbarfooter a {    
	color: white;    
	text-decoration: none;    
	font-weight: bold;
}

.navbarfooter a:hover {   
	text-decoration: none;    
	background-color: black;
}

#navigation-label {    
	font-weight: bold; 
	font-size: 1.2em; 
	color: white; 
	text-decoration: underline;
}

#reseaux-label {    
	font-weight: bold; 
	font-size: 1.2em; 
	color: white; 
	text-decoration: underline; 
	padding-right: 50% ;
}

#bas-label { 
	font-size: 1.2em; 
	color: white; 
	text-decoration: underline;
	margin-top: 20px;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #0056b3;
    color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

#scrollToTop:hover {
    background-color: #0056b3;
    color: white;
}
/* Styles pour les petits écrans */
@media (max-width: 768px) {
	fieldset {
		background-color: #f3f3f3;
		color: black;
		font-weight: bold;
		text-align: center;
		width: 80%;
		height: 25%;
		display: block;
		margin: 0 auto;
	}

	.linkMDP {
		color: blue;
		text-decoration: none;
		font-size: 60%;
	}

	.connectext {
		font-size: 70%;
	}
	
	.horizontal {
		border: none;
		border-top: 1px solid black;
		width: 50%;
	}
	
    .navbar{
        padding: 5% 5%;
    }
	
	.navbar a{
        padding: 1% 0;
    }
	
	.logo {
		display : none;
	}
}