.error {
    color: red;
    font-size: 11px;
}

.ind {
	color: red;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #0056b3;
    color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

#scrollToTop:hover {
    background-color: #0056b3;
    color: white;
}

.sucess_entreprise{
    color: green;
    font-size: 25px;
}

.erreur_entreprise{
    color: red;
    font-size: 25px;
}