select {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: 43%;
    box-sizing: border-box;
}
.error_creer{
    color: red;
    font-weight: bold;
}
.succes_creer{
    color: green;
    font-weight: bold;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse; 
}

td {
    text-align: center; 
}

fieldset[type="cadre"]{
	text-align: left;
    margin: 1% auto; 
	font-size: 13px;
}

input[type="button"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    width: 150px;
}

input[type="button"]:hover {
    text-decoration: underline; 
    background-color: #333;
}

#scrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #0056b3;
    color: black;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

#scrollToTop:hover {
    background-color: #0056b3;
    color: white;
}

